@use '../../styles/colors';

.button {
  padding: 0.5rem 1.5rem;
  background-color: colors.$bg-dark;
  color: colors.$text;
  outline: 0;
  border: 2px solid colors.$border;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background: colors.$primary;
  }
}
