@use '../../styles/colors.scss';

.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: colors.$bg-dark;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  &--error {
    background-color: colors.$error;
    color: colors.$bg-dark;
  }

  &--success {
    background-color: colors.$success;
    color: colors.$bg-dark;
  }
}
